html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
}

/*Sidebar*/

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 90%;
    background-color: wheat;
    z-index: 1;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-header .new-room {
    margin: 10 5px;
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;
    margin-left: 20px;
    font-family: 'Lora', serif;
}

.sidebar .room-name {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Lora', serif;
}

.sidebar .room-name:hover {
    cursor: pointer;
}

.sidebar .ng-binding:hover {
  cursor: pointer;
}

.sidebar .room-name.ng-binding:hover {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.NRButton {
  margin-left: 20px;
  font-family: 'Lora', serif;
    background: #89caf5;
    background-image: -webkit-linear-gradient(top, #89caf5, #2bb8b1);
    background-image: -moz-linear-gradient(top, #89caf5, #2bb8b1);
    background-image: -ms-linear-gradient(top, #89caf5, #2bb8b1);
    background-image: -o-linear-gradient(top, #89caf5, #2bb8b1);
    background-image: linear-gradient(to bottom, #89caf5, #2bb8b1);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    text-shadow: 2px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
  }

  .NRButton:hover {
    background: #3c4cfc;
    background-image: -webkit-linear-gradient(top, #3c4cfc, #34d9a2);
    background-image: -moz-linear-gradient(top, #3c4cfc, #34d9a2);
    background-image: -ms-linear-gradient(top, #3c4cfc, #34d9a2);
    background-image: -o-linear-gradient(top, #3c4cfc, #34d9a2);
    background-image: linear-gradient(to bottom, #3c4cfc, #34d9a2);
    text-decoration: none;
  }
/*Messages*/

.messages {
    position: fixed;
    top: 0px;
    left: 20%;
    width: 80%;
    height: 100%;
    background-color: lightblue;
    z-index: 1;
    overflow: scroll;
}


.messages-body {
    padding-right: 10px;
    background-color: green;
}

.messages-body .username {
    font-weight: bold;
}

.messages-body .timestamp {
    float: right;
    padding-right: 100px;
}

.messages-body .username .timestamp {
    display: inline-block;
}

.messages-body .user-message {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.test {
  font-family: 'Lora', serif;
  text-align: center;
}

.message-field {
    bottom: 15px;
    padding-bottom: 5px;
    position: fixed;
    left: 25%;
}

.message-box {
    width: 800px;
}

.btn-new-message {
  font-family: 'Lora', serif;
  background: #89caf5;
 background-image: -webkit-linear-gradient(top, #89caf5, #2bb8b1);
 background-image: -moz-linear-gradient(top, #89caf5, #2bb8b1);
 background-image: -ms-linear-gradient(top, #89caf5, #2bb8b1);
 background-image: -o-linear-gradient(top, #89caf5, #2bb8b1);
 background-image: linear-gradient(to bottom, #89caf5, #2bb8b1);
 -webkit-border-radius: 11;
 -moz-border-radius: 11;
 border-radius: 11px;
 text-shadow: 2px 1px 3px #666666;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 10px 10px 9px;
 text-decoration: none;
}

.btn-new-message:hover {
 background: #3c4cfc;
 background-image: -webkit-linear-gradient(top, #3c4cfc, #34d9a2);
 background-image: -moz-linear-gradient(top, #3c4cfc, #34d9a2);
 background-image: -ms-linear-gradient(top, #3c4cfc, #34d9a2);
 background-image: -o-linear-gradient(top, #3c4cfc, #34d9a2);
 background-image: linear-gradient(to bottom, #3c4cfc, #34d9a2);
 text-decoration: none;
}
}
